:root {
  --light-gray: hsl(28, 29%, 80%);
  --orange: hsl(25, 55%, 52%);
  --dark-gray: hsl(0, 0%, 41%);
  --dark-orange: hsl(359, 100%, 8%);
}

html {
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--dark-orange);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}
